* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.account {
    background: linear-gradient(45deg, #9109ee, #0d6efd);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover, .loan:hover {
    box-shadow: 2px 2px 10px black;
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
}

.account-balance {
  font-size: 3em;
  margin: 0px;
  font-weight: normal;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
}

.credit-transaction {
    color: green;
}

.debit-transaction {
    color: red;
}

.loan {
    background: linear-gradient(-45deg, #9109ee, #0d6efd);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.menu{
    background-color: whitesmoke;
}

.menu-logo {
    width: 100px;
    height: 40px;
}

.welcome {
    background: linear-gradient(45deg, #9109ee, #0d6efd);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    /*background-image: url(../img/avila.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}

/* STYLES NEWS */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background: linear-gradient(45deg, #9109ee, #0d6efd);
}

footer {
    justify-content: center;
    display: flex;
    background: linear-gradient(45deg, #9109ee, #0d6efd);
    color: white;
    align-content: center;
    padding: 1rem;
}

footer a, footer a:hover {
  color: #fff;
  text-decoration: none;
}

#createCreditCard, #createDebitCard, #createAccount,#createCard, #transfer{
  color: white;
  font-weight: 500;
}

#createCreditCard, #createDebitCard, #createAccount{
    font-size: 30px;
    width: 40px;
}

#createCard, #transfer{
  font-size: 16px;
}

#createCard{
  width: 70px;
}

#transfer {
  width: 90px;
}

/* #### Bottom Hover Glow Effect ####
------- Author: Kocsten https://codepen.io/kocsten */
.glow-on-hover {
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #9109ee, #0d6efd);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.glow-on-hover:hover:after {
    opacity: 0.5;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
